@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_CusLayout.cshtml";//using the customized layout,使用每一页长一样
    ViewData["Title"] = "Goods Page";
    var userid = ViewData["UserId"];
    var goods = (List<Good>)ViewData["search"];
}
<link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .add-button {
            display: block;
            width: 100px;
            margin-left: 0px auto;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }

            .add-button:hover {
                background-color: #0056b3;
            }

        /*here define the search*/
        .search-body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 300px;
            margin: 0 auto;
        }

        .search {
            border: 2px solid #ccc;
            margin: 0 auto;
            border-radius: 25px;
            display: flex;
            overflow: hidden;
            height: 50px;
        }

        .input {
            height: 100%;
            font-family: inherit;
            font-size: inherit;
            padding-inline-start: 25px;
            border: none;
            outline: none;
        }

        .image {
            height: 100px;
            width: 200px;
        }
    </style>
</head>

<div class="search-body">
    <form class="search" asp-action="Search" method="post">
        <input type="search" class="input" id="input" name="search" placeholder="Search Product" autocomplete="off">
        <input type="button" name="input_text" id="input_text" class="btn">
    </form>
</div>
<body>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left:30px;margin-right:30px;margin-top:30px">
        @foreach (Good item in goods)
        {
            <div class="col">
                <div class="card h-100">
                    <img src=@item.Image class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Intro</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <form method="post" asp-action="AddToCart">
                                <input type="hidden" id="@item.Name" name="Name" value="@item.Name">
                                <input type="hidden" id="@item.ProductId" name="ProductId" value="@item.ProductId">
                                <input type="submit" class="add-button" id="button" value="Add to cart">
                                @if (TempData["Message"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            alert("@TempData["Message"]");
                                        };
                                    </script>
                                }
                            </form>
                        </small>
                    </div>
                </div>
            </div>
        }
     
    </div>
    <h1 align="center">@TempData["notice"]</h1>
</body>
